apiVersion: v1
kind: Secret
metadata:
  name: imagerepo-secret
type: Opaque
data:
  DB_USERNAME: TEMPLATE_DB_USERNAME
  DB_PASSWORD: TEMPLATE_DB_PASSWORD
  DB_HOST: TEMPLATE_DB_HOST
  DB_ADAPTER: TEMPLATE_DB_ADAPTER
  DB_PORT: TEMPLATE_DB_PORT
  DB_NAME: TEMPLATE_DB_NAME
  SAFE_HOSTS: TEMPLATE_SAFE_HOSTS